.aplayer-list-title,.aplayer-title
{
	color: #666
}
.aplayer-miniswitcher,.aplayer-body 
{
	border-radius:0 5px 5px 0!important;
}
/*导航条微信二维码*/
ul.list-v >li.header 
{
	width: 130px!important;
	height: 130px!important;
}
ul.list-v >li.header >img
{
	width: 100%;
	height: 100%;
}
/*文章底部翻页隐藏文章摘要*/
.l_main .article .prev-next >a p.content {
    font-size: 0.875rem;
    margin: 0 0.5rem;
    text-align: justify;
    word-break: break-all;
    display: none;
}