body {
    --body-bg-color: transparent;
}

.dplayer {
    border-radius: 8px !important;
}

img[src$="boxshadow=none"] {
    box-shadow: none !important;
}

@media not print {
    [data-user-color-scheme="light"] {
        background-attachment: fixed;
        background-image: linear-gradient(to bottom, #5482b3, #b5ceff);

        --navbar-bg-color: #5482b3CC;
        --link-hover-color: #0366d6;
        --scrollbar-color: #c1dfff;
        --scrollbar-hover-color: #e5effc;

        ::-webkit-scrollbar-track-piece {
            background-color: #87a7d7;
        }

        #toc {
            --text-color: #111;
            color: #111;
        }

        ::selection {
            background-color: #6d96cf;
            color: #fff;
        }
    }

    [data-user-color-scheme="dark"] {
        background-attachment: fixed;
        background-image: linear-gradient(to bottom, #131f29, #4b5466);

        --navbar-bg-color: #131f29CC;

        ::-webkit-scrollbar-track-piece {
            background-color: #303a47;
        }

        ::selection {
            background-color: #666;
            color: #fff;
        }
    }
}

body,
div {
    cursor: url(//fastly.jsdelivr.net/gh/pdone/static@master/img/cursor/pointer.cur), default !important;
}

a,
button,
img,
p>a,
div>i.iconfont.icon-arrowdown,
a>div {
    cursor: url(//fastly.jsdelivr.net/gh/pdone/static@master/img/cursor/link.cur), pointer !important;
}

@font-face {
    font-family: AlibabaPuHuiTi-3-55-Regular;
    font-display: swap;
    src:
        local('AlibabaPuHuiTi-3-55-Regular'),
        url(//fastly.jsdelivr.net/gh/pdone/static@master/font/AlibabaPuHuiTi-3-55-Regular.subset.woff2) format('woff2'),
        url(//fastly.jsdelivr.net/gh/pdone/static@master/font/AlibabaPuHuiTi-3-55-Regular.subset.woff) format('woff'),
        url(//fastly.jsdelivr.net/gh/pdone/static@master/font/AlibabaPuHuiTi-3-55-Regular.subset.ttf) format('TrueType'),
        url(//fastly.jsdelivr.net/gh/pdone/static@master/font/AlibabaPuHuiTi-3-55-Regular.subset.otf) format('opentype');
    /* url(//puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.woff2) format('woff2'),
    url(//puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.woff) format('woff'),
    url(//puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.ttf) format('TrueType'),
    url(//puhuiti.oss-cn-hangzhou.aliyuncs.com/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.otf) format('opentype'); */
}