body {
    --body-bg-color: transparent;
    transition: color 1s ease-in-out, background-color 1s ease-in-out !important;
}

@media not print {
    [data-user-color-scheme="light"] {
        --navbar-bg-color: #5482b3CC;
        --link-hover-color: #0366d6;
        background: linear-gradient(to bottom, #5482b3, #b5ceff) fixed;

        #toc {
            --text-color: #222;
            color: #333;
        }

        ::-webkit-scrollbar-track-piece {
            background-color: #638aba;
        }
    }

    [data-user-color-scheme="dark"] {
        --navbar-bg-color: #131f29CC;
        background: linear-gradient(to bottom, #131f29, #4b5466) fixed;

        ::-webkit-scrollbar-track-piece {
            background-color: #262d37;
        }
    }
}

body,
div {
    cursor: url('https://ghproxy.com/raw.githubusercontent.com/pdone/static/master/img/cursor/pointer.cur'), default !important;
}

a,
button,
img,
p>a,
div>i.iconfont.icon-arrowdown,
a>div {
    cursor: url('https://ghproxy.com/raw.githubusercontent.com/pdone/static/master/img/cursor/link.cur'), pointer !important;
}
